<%
	var title = "My Blog - " + model.meta.title;
	var labels = model.meta.labels;
	var head = { title: title }
	var docs = documents()
		.filter(function(doc) { return doc.meta.type == "blog"; })
		.sort(function(a, b) { return a.meta.date - b.meta.date; });
	var next = docs[docs.indexOf(model) + 1];
	var prev = docs[docs.indexOf(model) - 1];
	
%>

<!DOCTYPE html>
<html>
	<% print(view("page/head.html").render(head)); %>
	<body>
		<% print(view("page/header.html").render()); %>
		<main>
			<div class="blog-post">
				<article>
					<h1 class="title"><% print(model.meta.title); %></h1>
					<div class="content"><% print(markdown(model.content)); %></div>
					<div class="about">
						<div>
							Posted by <span class="author"><% print(model.meta.author); %></span>
							on <% print(view("blog/link-date.html").render(model.meta.date)); %>
						</div>
						<div>
							Labels:
							<ul class="horizontal labels">
								<% labels.forEach(function(label) { %>
									<li><% print(view("blog/link-label.html").render(label)); %></li>
								<% }); %>
							</ul>
						</div>
					</div>
				</article>
				<div class="controls">
					<% if (prev) { %><a title="<% print(prev.meta.title); %>" href="/<% print(prev.path.replace(/\..+$/, "")); %>/">Previous</a><% } %>
					<a href="/blog/">Home</a>
					<% if (next) { %><a title="<% print(next.meta.title); %>" href="/<% print(next.path.replace(/\..+$/, "")); %>/">Next</a><% } %>
				</div>
			</div>
		</main>
		<% print(view("page/footer.html").render()); %>
	</body>
</html>