<%
	layout("layout.html");
	
	var docs = documents()
		.filter(function(doc) { return doc.meta.type == "blog"; })
		.filter(function(doc) { return doc.meta.labels.indexOf(model) != -1; });
%>

<% section("head"); %>
	<title>My Blog - <% print(model); %></title>
	
<% section("content"); %>
	<div class="blog-label-index">
		<h1><% print(model); %></h1>
		<ul class="no-decoration">
			<% docs.forEach(function(doc) { %>
				<li><% print(view("blog/link-article.html").render(doc)); %></li>
			<% }); %>
		</ul>
	</div>